{% extends 'base.html.twig' %}

{% block title %}My Orders{% endblock %}

{% block body %}
    <h1>My Orders</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>OrderNumber</th>
                <th>OrderDate</th>
                <th>TotalPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>
                    <a class = "btn btn-success" href="{{ path('orders_show', {'id': order.id}) }}">show</a>
                    {% if is_granted ('ROLE_ADMIN') %}
                    <a class = "btn btn-warning" href="{{ path('orders_edit', {'id': order.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
