{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
    <h1 class = "text-center text-success">Album index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>ReleaseDate</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.title }}</td>
                <td>{{ album.releaseDate ? album.releaseDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ album.price }}</td>
                <td>
                    <a href="{{ path('album_show', {'id': album.id}) }}">show</a>
                    {% if is_granted ('ROLE_ADMIN') %}
                    <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
                    {% endif %}
                    <a type="submit" id="btn-buy" class="btn btn-info" href="{{ path('album_buy', {'id': album.id}) }}">Buy</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('album_new') }}">Create new</a>
{% endblock %}
